.header {
    position: grid;
    top: 50%;
    place-content: center;
}

.body {
    position: grid;
    top: 50%;
    place-content: center;
}




.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}